#quality-1 .fill-items {
    fill: #5AFB9A;
}
#quality-2 .fill-items {
    fill: #5AAEFB;
}
#quality-3 .fill-items {
    fill: #FBEB5A;
}
#quality-4 .fill-items {
    fill: #FB5A5A;
}
#quality-5 .fill-items {
    fill: #8D8383;
}
#quality-1 .color-code {
    background-color: #5AFB9A;
}
#quality-2 .color-code {
    background-color: #5AAEFB;
}
#quality-3 .color-code {
    background-color: #FBEB5A;
}
#quality-4 .color-code {
    background-color: #FB5A5A;
}
#quality-5 .color-code {
    background-color: #8D8383;
}